<div>
    <h2>
        <span jhiTranslate="schoolarApp.tblSchoolNetwork.home.title">Tbl School Networks</span>
        <button class="btn btn-primary float-right jh-create-entity create-tbl-school-network" [routerLink]="['/', { outlets: { popup: ['tbl-school-network-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schoolarApp.tblSchoolNetwork.home.createLabel">
            Create new Tbl School Network
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tblSchoolNetworks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolNetwork.strCode">Str Code</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolNetwork.strName">Str Name</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolNetwork.strLegalName">Str Legal Name</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolNetwork.strCNPJ">Str CNPJ</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolNetwork.strEmail">Str Email</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolNetwork.tblPhone">Tbl Phone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tblSchoolNetwork of tblSchoolNetworks ;trackBy: trackId">
                <td><a [routerLink]="['../tbl-school-network', tblSchoolNetwork.id ]">{{tblSchoolNetwork.id}}</a></td>
                <td>{{tblSchoolNetwork.strCode}}</td>
                <td>{{tblSchoolNetwork.strName}}</td>
                <td>{{tblSchoolNetwork.strLegalName}}</td>
                <td>{{tblSchoolNetwork.strCNPJ}}</td>
                <td>{{tblSchoolNetwork.strEmail}}</td>
                <td>
                    <span *ngFor="let tblPhone of tblSchoolNetwork.tblPhones; let last = last">
                            <a class="form-control-static" [routerLink]="['../tbl-phone', tblPhone?.id ]">{{tblPhone.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tbl-school-network', tblSchoolNetwork.id ]"
                                class="btn  btn-lg">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-school-network/'+ tblSchoolNetwork.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn  btn-lg">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" ></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-school-network/'+ tblSchoolNetwork.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn  btn-lg">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
