<form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTblSubjectLabel" jhiTranslate="schoolarApp.tblSubject.home.createOrEditLabel">Create or edit a Tbl Subject</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tblSubject.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tblSubject.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.strName" for="field_strName">Str Name</label>
            <input type="text" class="form-control" name="strName" id="field_strName"
                [(ngModel)]="tblSubject.strName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.strAbbreviation" for="field_strAbbreviation">Str Abbreviation</label>
            <input type="text" class="form-control" name="strAbbreviation" id="field_strAbbreviation"
                [(ngModel)]="tblSubject.strAbbreviation" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.intOrder" for="field_intOrder">Int Order</label>
            <input type="number" class="form-control" name="intOrder" id="field_intOrder"
                [(ngModel)]="tblSubject.intOrder" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.strLabel" for="field_strLabel">Str Label</label>
            <input type="text" class="form-control" name="strLabel" id="field_strLabel"
                [(ngModel)]="tblSubject.strLabel" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.dtmCreated" for="field_dtmCreated">Dtm Created</label>
            <div class="d-flex">
                <input id="field_dtmCreated" type="datetime-local" class="form-control" name="dtmCreated" [(ngModel)]="tblSubject.dtmCreated"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.dtmLastUpdate" for="field_dtmLastUpdate">Dtm Last Update</label>
            <div class="d-flex">
                <input id="field_dtmLastUpdate" type="datetime-local" class="form-control" name="dtmLastUpdate" [(ngModel)]="tblSubject.dtmLastUpdate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSubject.intExcluded" for="field_intExcluded">Int Excluded</label>
            <input type="number" class="form-control" name="intExcluded" id="field_intExcluded"
                [(ngModel)]="tblSubject.intExcluded" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
