<div>
    <h2>
        <span jhiTranslate="schoolarApp.tblSubject.home.title">Tbl Subjects</span>
        <button class="btn btn-primary float-right jh-create-entity create-tbl-subject" [routerLink]="['/', { outlets: { popup: ['tbl-subject-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schoolarApp.tblSubject.home.createLabel">
            Create new Tbl Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tblSubjects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.strName">Str Name</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.strAbbreviation">Str Abbreviation</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.intOrder">Int Order</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.strLabel">Str Label</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.dtmCreated">Dtm Created</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.dtmLastUpdate">Dtm Last Update</span></th>
            <th><span jhiTranslate="schoolarApp.tblSubject.intExcluded">Int Excluded</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tblSubject of tblSubjects ;trackBy: trackId">
                <td><a [routerLink]="['../tbl-subject', tblSubject.id ]">{{tblSubject.id}}</a></td>
                <td>{{tblSubject.strName}}</td>
                <td>{{tblSubject.strAbbreviation}}</td>
                <td>{{tblSubject.intOrder}}</td>
                <td>{{tblSubject.strLabel}}</td>
                <td>{{tblSubject.dtmCreated | date:'medium'}}</td>
                <td>{{tblSubject.dtmLastUpdate | date:'medium'}}</td>
                <td>{{tblSubject.intExcluded}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tbl-subject', tblSubject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-subject/'+ tblSubject.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-subject/'+ tblSubject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
