<div>
    <h2>
        <span jhiTranslate="schoolarApp.tblGuardian.home.title">Tbl Guardians</span>
        <button class="btn btn-primary float-right jh-create-entity create-tbl-guardian" [routerLink]="['/', { outlets: { popup: ['tbl-guardian-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schoolarApp.tblGuardian.home.createLabel">
            Create new Tbl Guardian
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tblGuardians">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolarApp.tblGuardian.dtmLastUpdate">Dtm Last Update</span></th>
            <th><span jhiTranslate="schoolarApp.tblGuardian.user">User</span></th>
            <th><span jhiTranslate="schoolarApp.tblGuardian.guardianUser">Guardian User</span></th>
            <th><span jhiTranslate="schoolarApp.tblGuardian.guardianType">Guardian Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tblGuardian of tblGuardians ;trackBy: trackId">
                <td><a [routerLink]="['../tbl-guardian', tblGuardian.id ]">{{tblGuardian.id}}</a></td>
                <td>{{tblGuardian.dtmLastUpdate | date:'medium'}}</td>
                <td>
                    <div *ngIf="tblGuardian.user">
                        <a [routerLink]="['../tbl-user', tblGuardian.user?.id ]" >{{tblGuardian.user?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tblGuardian.guardianUser">
                        <a [routerLink]="['../tbl-user', tblGuardian.guardianUser?.id ]" >{{tblGuardian.guardianUser?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tblGuardian.guardianType">
                        <a [routerLink]="['../tbl-guardian-type', tblGuardian.guardianType?.id ]" >{{tblGuardian.guardianType?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tbl-guardian', tblGuardian.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-guardian/'+ tblGuardian.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-guardian/'+ tblGuardian.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
