<form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTblSchoolSubjectLabel" jhiTranslate="schoolarApp.tblSchoolSubject.home.createOrEditLabel">Create or edit a Tbl School Subject</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tblSchoolSubject.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tblSchoolSubject.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSchoolSubject.dtmCreated" for="field_dtmCreated">Dtm Created</label>
            <div class="d-flex">
                <input id="field_dtmCreated" type="datetime-local" class="form-control" name="dtmCreated" [(ngModel)]="tblSchoolSubject.dtmCreated"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSchoolSubject.dtmLastUpdade" for="field_dtmLastUpdade">Dtm Last Updade</label>
            <div class="d-flex">
                <input id="field_dtmLastUpdade" type="datetime-local" class="form-control" name="dtmLastUpdade" [(ngModel)]="tblSchoolSubject.dtmLastUpdade"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSchoolSubject.intExcluded" for="field_intExcluded">Int Excluded</label>
            <input type="number" class="form-control" name="intExcluded" id="field_intExcluded"
                [(ngModel)]="tblSchoolSubject.intExcluded" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSchoolSubject.tblLevelType" for="field_tblLevelType">Tbl Level Type</label>
            <select class="form-control" id="field_tblLevelType" name="tblLevelType" [(ngModel)]="tblSchoolSubject.tblLevelType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tblLevelTypeOption.id === tblSchoolSubject.tblLevelType?.id ? tblSchoolSubject.tblLevelType : tblLevelTypeOption" *ngFor="let tblLevelTypeOption of tblleveltypes; trackBy: trackTblLevelTypeById">{{tblLevelTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSchoolSubject.tblSubject" for="field_tblSubject">Tbl Subject</label>
            <select class="form-control" id="field_tblSubject" name="tblSubject" [(ngModel)]="tblSchoolSubject.tblSubject" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tblSubjectOption.id === tblSchoolSubject.tblSubject?.id ? tblSchoolSubject.tblSubject : tblSubjectOption" *ngFor="let tblSubjectOption of tblsubjects; trackBy: trackTblSubjectById">{{tblSubjectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblSchoolSubject.tblSchool" for="field_tblSchool">Tbl School</label>
            <select class="form-control" id="field_tblSchool" name="tblSchool" [(ngModel)]="tblSchoolSubject.tblSchool" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tblSchoolOption.id === tblSchoolSubject.tblSchool?.id ? tblSchoolSubject.tblSchool : tblSchoolOption" *ngFor="let tblSchoolOption of tblschools; trackBy: trackTblSchoolById">{{tblSchoolOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
