<div>
    <h2>
        <span jhiTranslate="schoolarApp.tblSchoolSubject.home.title">Tbl School Subjects</span>
        <button class="btn btn-primary float-right jh-create-entity create-tbl-school-subject" [routerLink]="['/', { outlets: { popup: ['tbl-school-subject-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schoolarApp.tblSchoolSubject.home.createLabel">
            Create new Tbl School Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tblSchoolSubjects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolSubject.dtmCreated">Dtm Created</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolSubject.dtmLastUpdade">Dtm Last Updade</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolSubject.intExcluded">Int Excluded</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolSubject.tblLevelType">Tbl Level Type</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolSubject.tblSubject">Tbl Subject</span></th>
            <th><span jhiTranslate="schoolarApp.tblSchoolSubject.tblSchool">Tbl School</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tblSchoolSubject of tblSchoolSubjects ;trackBy: trackId">
                <td><a [routerLink]="['../tbl-school-subject', tblSchoolSubject.id ]">{{tblSchoolSubject.id}}</a></td>
                <td>{{tblSchoolSubject.dtmCreated | date:'medium'}}</td>
                <td>{{tblSchoolSubject.dtmLastUpdade | date:'medium'}}</td>
                <td>{{tblSchoolSubject.intExcluded}}</td>
                <td>
                    <div *ngIf="tblSchoolSubject.tblLevelType">
                        <a [routerLink]="['../tbl-level-type', tblSchoolSubject.tblLevelType?.id ]" >{{tblSchoolSubject.tblLevelType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tblSchoolSubject.tblSubject">
                        <a [routerLink]="['../tbl-subject', tblSchoolSubject.tblSubject?.id ]" >{{tblSchoolSubject.tblSubject?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tblSchoolSubject.tblSchool">
                        <a [routerLink]="['../tbl-school', tblSchoolSubject.tblSchool?.id ]" >{{tblSchoolSubject.tblSchool?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tbl-school-subject', tblSchoolSubject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-school-subject/'+ tblSchoolSubject.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tbl-school-subject/'+ tblSchoolSubject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
