.btn-lg{
    margin-left: 5px !important;
    color: gray;
    border: none;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: 0.3s;
}
.btn-lg :hover{
    color: #1a38dc;
    cursor: pointer;
}


