.container_warp_main{
    padding-left: 278px;
    padding-right: 22px;
}

.jh-card_main {
    padding: 1.5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    border: none;
    box-shadow: 10px 10px 26px -6px rgba(0, 0, 0, 0.16);
}
