@import url('https://fonts.googleapis.com/css?family=Raleway');



$sc_primary_color:#1A38DC;
$sc_dark_color:#0E0F54;
$sc_light_blue_color:#C2C9F4;
$sc_light2_color:#686868;
$sc_light1_color:#929292;
$sc_light_color:#fff;
$sc_danger_color:red;
$primary_color: #1A38DC;
$secondary_color: #0e0a57;
$tertiary_color: #E2E4E6;
$dark_color:#2c2c2c;
$shadow_color:#cecccc;
$half_color: grey;
$light_color:#ffffff;
$primary_font:'Raleway', sans-serif;