<form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTblAuthenticationLabel" jhiTranslate="schoolarApp.tblAuthentication.home.createOrEditLabel">Create or edit a Tbl Authentication</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tblAuthentication.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tblAuthentication.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthentication.idAuthentication" for="field_idAuthentication">Id Authentication</label>
            <input type="number" class="form-control" name="idAuthentication" id="field_idAuthentication"
                [(ngModel)]="tblAuthentication.idAuthentication" required/>
            <div [hidden]="!(editForm.controls.idAuthentication?.dirty && editForm.controls.idAuthentication?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.idAuthentication?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.idAuthentication?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthentication.strCPF" for="field_strCPF">Str CPF</label>
            <input type="text" class="form-control" name="strCPF" id="field_strCPF"
                [(ngModel)]="tblAuthentication.strCPF" maxlength="20"/>
            <div [hidden]="!(editForm.controls.strCPF?.dirty && editForm.controls.strCPF?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strCPF?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthentication.strUserName" for="field_strUserName">Str User Name</label>
            <input type="text" class="form-control" name="strUserName" id="field_strUserName"
                [(ngModel)]="tblAuthentication.strUserName" required maxlength="20"/>
            <div [hidden]="!(editForm.controls.strUserName?.dirty && editForm.controls.strUserName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strUserName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strUserName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthentication.strEmail" for="field_strEmail">Str Email</label>
            <input type="text" class="form-control" name="strEmail" id="field_strEmail"
                [(ngModel)]="tblAuthentication.strEmail" required maxlength="20"/>
            <div [hidden]="!(editForm.controls.strEmail?.dirty && editForm.controls.strEmail?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strEmail?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strEmail?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthentication.strPassword" for="field_strPassword">Str Password</label>
            <input type="text" class="form-control" name="strPassword" id="field_strPassword"
                [(ngModel)]="tblAuthentication.strPassword" maxlength="32"/>
            <div [hidden]="!(editForm.controls.strPassword?.dirty && editForm.controls.strPassword?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strPassword?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 32 }">
                   This field cannot be longer than 32 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
