
<div *ngIf="tblAuthentication">
    <h2><span jhiTranslate="schoolarApp.tblAuthentication.detail.title">Tbl Authentication</span> {{tblAuthentication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="schoolarApp.tblAuthentication.idAuthentication">Id Authentication</span></dt>
        <dd>
            <span>{{tblAuthentication.idAuthentication}}</span>
        </dd>
        <dt><span jhiTranslate="schoolarApp.tblAuthentication.strCPF">Str CPF</span></dt>
        <dd>
            <span>{{tblAuthentication.strCPF}}</span>
        </dd>
        <dt><span jhiTranslate="schoolarApp.tblAuthentication.strUserName">Str User Name</span></dt>
        <dd>
            <span>{{tblAuthentication.strUserName}}</span>
        </dd>
        <dt><span jhiTranslate="schoolarApp.tblAuthentication.strEmail">Str Email</span></dt>
        <dd>
            <span>{{tblAuthentication.strEmail}}</span>
        </dd>
        <dt><span jhiTranslate="schoolarApp.tblAuthentication.strPassword">Str Password</span></dt>
        <dd>
            <span>{{tblAuthentication.strPassword}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tbl-authentication/'+ tblAuthentication.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
