<form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTblAuthenticateLabel" jhiTranslate="schoolarApp.tblAuthenticate.home.createOrEditLabel">Create or edit a Tbl Authenticate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tblAuthenticate.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tblAuthenticate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthenticate.dtmTimeStamp" for="field_dtmTimeStamp">Dtm Time Stamp</label>
            <div class="d-flex">
                <input id="field_dtmTimeStamp" type="datetime-local" class="form-control" name="dtmTimeStamp" [(ngModel)]="tblAuthenticate.dtmTimeStamp"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthenticate.audienceClient" for="field_audienceClient">Audience Client</label>
            <select class="form-control" id="field_audienceClient" name="audienceClient" [(ngModel)]="tblAuthenticate.audienceClient" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tblAudienceClientOption.id === tblAuthenticate.audienceClient?.id ? tblAuthenticate.audienceClient : tblAudienceClientOption" *ngFor="let tblAudienceClientOption of tblaudienceclients; trackBy: trackTblAudienceClientById">{{tblAudienceClientOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblAuthenticate.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="tblAuthenticate.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tblUserOption.id === tblAuthenticate.user?.id ? tblAuthenticate.user : tblUserOption" *ngFor="let tblUserOption of tblusers; trackBy: trackTblUserById">{{tblUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
