<form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTblGuardianTypeLabel" jhiTranslate="schoolarApp.tblGuardianType.home.createOrEditLabel">Create or edit a Tbl Guardian Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tblGuardianType.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tblGuardianType.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblGuardianType.strName" for="field_strName">Str Name</label>
            <input type="text" class="form-control" name="strName" id="field_strName"
                [(ngModel)]="tblGuardianType.strName" maxlength="20"/>
            <div [hidden]="!(editForm.controls.strName?.dirty && editForm.controls.strName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblGuardianType.strDescription" for="field_strDescription">Str Description</label>
            <input type="text" class="form-control" name="strDescription" id="field_strDescription"
                [(ngModel)]="tblGuardianType.strDescription" maxlength="200"/>
            <div [hidden]="!(editForm.controls.strDescription?.dirty && editForm.controls.strDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.strDescription?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="schoolarApp.tblGuardianType.dtmLastUpdate" for="field_dtmLastUpdate">Dtm Last Update</label>
            <div class="d-flex">
                <input id="field_dtmLastUpdate" type="datetime-local" class="form-control" name="dtmLastUpdate" [(ngModel)]="tblGuardianType.dtmLastUpdate"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
